@import "tailwindcss";

:root {
  --background: #080a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: url('/bg_overlay.png'), var(--background); */
  background: var(--background);
  background-size: cover;
  color: var(--foreground);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
