@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

body {
  background: url('/bg_overlay.png'), var(--background);
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-ibm-plex-serif), sans-serif;
}
